.gradle


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
*.class
*.log
*.html
mantis-tests/build/reports/tests/test/css/base-style.css
mantis-tests/build/reports/tests/test/js/report.js
mantis-tests/build/reports/tests/test/css/style.css
mantis-tests/build.gradle
mantis-tests/build/resources/test/config_inc.php
mantis-tests/build/resources/test/local.properties
mantis-tests/build/tmp/test/jar_extract_3381148767483810576_tmp
mantis-tests/build/tmp/test/jar_extract_494451068402181299_tmp
mantis-tests/build/tmp/test/jar_extract_384681306752459759_tmp
mantis-tests/build/tmp/test/jar_extract_8441886504424802401_tmp
mantis-tests/build/tmp/test/jar_extract_5576770482312117356_tmp
mantis-tests/build/tmp/test/jar_extract_8854633701965008715_tmp
mantis-tests/build
soap-sample/build
soap-sample/build.gradle
soap-sample/gradle

rest-sample/build
rest-sample/build.gradle
rest-sample/gradle

*.bin
*.idx
mantis-tests/build/test-results/test/TEST-ru.stqa.pft.mantis.tests.SoapTests.xml
